.blockquote__wrp
	.blockquote.border
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptates maiores voluptatibus reprehenderit, dicta quam natus explicabo rem, corporis sit odio magnam, adipisci exercitationem ad beatae impedit dignissimos doloribus quasi!