.calendar__wrp
	.calendar.border
		.calendar__title.border
			p.calendar__date 20
			p.calendar__day monday
		.calendar__month
			p.calendar__monthSlide January 2014
			p.calendar__monthSlide Fabriary 2014
			p.calendar__monthSlide March 2014
			p.calendar__monthSlide April 2014
			p.calendar__monthSlide May 2014
			p.calendar__monthSlide June 2014
			p.calendar__monthSlide July 2014
			p.calendar__monthSlide August 2014
			p.calendar__monthSlide September 2014
			p.calendar__monthSlide Oktober 2014
			p.calendar__monthSlide November 2014
			p.calendar__monthSlide December 2014
		ul.calendar__week
			li.calendar__weekDay mon
			li.calendar__weekDay tue
			li.calendar__weekDay wed
			li.calendar__weekDay thu
			li.calendar__weekDay fri
			li.calendar__weekDay sat
			li.calendar__weekDay sun
		ul.calendar__dates
			li.calendar__datesDay.otherMonth
				a(href="#")
					span 30
			li.calendar__datesDay.otherMonth
				a(href="#")
					span 31
			li.calendar__datesDay
				a(href="#")
					span 1
			li.calendar__datesDay
				a(href="#")
					span 2
			li.calendar__datesDay
				a(href="#")
					span 3
			li.calendar__datesDay
				a(href="#")
					span 4
			li.calendar__datesDay
				a(href="#")
					span 5
			li.calendar__datesDay.cur
				a(href="#")
					span 6
			li.calendar__datesDay
				a(href="#")
					span 7
			li.calendar__datesDay
				a(href="#")
					span 8
			li.calendar__datesDay
				a(href="#")
					span 9
			li.calendar__datesDay
				a(href="#")
					span 10
			li.calendar__datesDay
				a(href="#")
					span 11
			li.calendar__datesDay
				a(href="#")
					span 12
			li.calendar__datesDay
				a(href="#")
					span 13
			li.calendar__datesDay
				a(href="#")
					span 14
			li.calendar__datesDay
				a(href="#")
					span 15
			li.calendar__datesDay
				a(href="#")
					span 16
			li.calendar__datesDay
				a(href="#")
					span 17
			li.calendar__datesDay
				a(href="#")
					span 18
			li.calendar__datesDay
				a(href="#")
					span 19
			li.calendar__datesDay
				a(href="#")
					span 20
			li.calendar__datesDay
				a(href="#")
					span 21
			li.calendar__datesDay
				a(href="#")
					span 22
			li.calendar__datesDay
				a(href="#")
					span 23
			li.calendar__datesDay
				a(href="#")
					span 24
			li.calendar__datesDay
				a(href="#")
					span 25
			li.calendar__datesDay
				a(href="#")
					span 26
			li.calendar__datesDay
				a(href="#")
					span 27
			li.calendar__datesDay
				a(href="#")
					span 28
			li.calendar__datesDay
				a(href="#")
					span 29
			li.calendar__datesDay
				a(href="#")
					span 30
			li.calendar__datesDay
				a(href="#")
					span 31
			li.calendar__datesDay.otherMonth
				a(href="#")
					span 1
			li.calendar__datesDay.otherMonth
				a(href="#")
					span 2