.cats__wrp.clearfix
	ul.cats
		li.cats__cat
			a(href="#").cats__link Graphic
		li.cats__cat
			a(href="#").cats__link Retina
		li.cats__cat
			a(href="#").cats__link Communication
		li.cats__cat
			a(href="#").cats__link Design
		li.cats__cat
			a(href="#").cats__link Flat
		li.cats__cat
			a(href="#").cats__link Wordpress
		li.cats__cat
			a(href="#").cats__link Blog
		li.cats__cat
			a(href="#").cats__link Premium
		li.cats__cat
			a(href="#").cats__link Web
		li.cats__cat
			a(href="#").cats__link Corporate