.linechart__wrp
	.linechart.border
		span.linechart__line
		span.linechart__line
		span.linechart__line
		span.linechart__line
		.linechart__months
			span.linechart__month jan
			span.linechart__month feb
			span.linechart__month mar
			span.linechart__month apr
			span.linechart__month may