.musicPlayer__wrp
	.musicPlayer.border.clearfix
		.musicPlayer__coverWrp
			img(src="img/music__cover.png", alt="").musicPlayer__cover
		button(type="button").musicPlayer__play
			i.fas.fa-play
		.musicPlayer__titleWrp
			.musicPlayer__name ROBERTA FLACK 
			.musicPlayer__song CHRISTMAS SONG
			.musicPlayer__progressbar
		.musicPlayer__mode
			button.musicPlayer__repeat
				i.fas.fa-redo
			button.musicPlayer__shuffle
				i.fas.fa-random
			span.musicPlayer__time 04:16
