.music__wrp
	.music
		button.music__backward.border-reg(type="button")
			i.fas.fa-backward
		button.music__pause.border-reg(type="button")
			i.fas.fa-pause
		button.music__play.border-reg(type="button")
			i.fas.fa-play
		button.music__stop.border-reg(type="button")
			i.fas.fa-stop
		button.music__forward.border-reg(type="button")
			i.fas.fa-forward