.news__wrp
	.news.border
		.news__tabs
			button(type="button" data-target="#news").news__tab.active News
			button(type="button" data-target="#popular").news__tab Popular
		a.news__all(href="#") View all news
			span
				i.fas.fa-caret-right

		.news__contentWrp.clearfix
			.news__contentBox#news.active
				ul.news__list
					li.news__item
						a(href="#" target="_blank").news__link.clearfix
							.news__imgWrp
								img(src="img/news-1.jpg", alt="").news__img
							.news__content
								.news__title A look inside the Xbox One and PlayStation 4
								.news__excerpt The next generation of console gaming is here. Sony launched its PlayStation 4 ...
						.news__info
							span.news__date Nov 16, 2013
							span.news__views 1244
							span.news__comments 14
					li.news__item
						a(href="#" target="_blank").news__link.clearfix
							.news__imgWrp
								img(src="img/news-1.jpg", alt="").news__img
							.news__content
								.news__title Amazon Black Friday 2013 deals
								.news__excerpt In the frantic leadup to Black Friday, every retailer is looking for a way to ...
						.news__info
							span.news__date Nov 16, 2013
							span.news__views 1244
							span.news__comments 14
					li.news__item
						a(href="#" target="_blank").news__link.clearfix
							.news__imgWrp
								img(src="img/news-1.jpg", alt="").news__img
							.news__content
								.news__title A look inside the Xbox One and PlayStation 4
								.news__excerpt The next generation of console gaming is here. Sony launched its PlayStation 4 ...
						.news__info
							span.news__date Nov 16, 2013
							span.news__views 1244
							span.news__comments 14
			.news__contentBox#popular
				ul.news__list
					li.news__item
						a(href="#" target="_blank").news__link.clearfix
							.news__imgWrp
								img(src="img/news-1.jpg", alt="").news__img
							.news__content
								.news__title Amazon Black Friday 2013 deals
								.news__excerpt In the frantic leadup to Black Friday, every retailer is looking for a way to ...
						.news__info
							span.news__date Nov 16, 2013
							span.news__views 1244
							span.news__comments 14
					li.news__item
						a(href="#" target="_blank").news__link.clearfix
							.news__imgWrp
								img(src="img/news-1.jpg", alt="").news__img
							.news__content
								.news__title A look inside the Xbox One and PlayStation 4
								.news__excerpt The next generation of console gaming is here. Sony launched its PlayStation 4 ...
						.news__info
							span.news__date Nov 16, 2013
							span.news__views 1244
							span.news__comments 14
					li.news__item
						a(href="#" target="_blank").news__link.clearfix
							.news__imgWrp
								img(src="img/news-1.jpg", alt="").news__img
							.news__content
								.news__title Amazon Black Friday 2013 deals
								.news__excerpt In the frantic leadup to Black Friday, every retailer is looking for a way to ...
						.news__info
							span.news__date Nov 16, 2013
							span.news__views 1244
							span.news__comments 14