.profile__wrp
	.profile
		.profile__header.border(type="button")
			.profile__avatarWrp
				img(src="img/user__avatar.png", alt="").profile__avatar
			p.profile__name(title="Jerry Helfeld") Jerry Helfeld
			button.profile__btn
				i.fas.fa-caret-down
		ul.profile__menu.border
			li.profile__menuItem
				a(href="#").profile__menuLink Your profile
					span 5
			li.profile__menuItem
				a(href="#").profile__menuLink Settings
			li.profile__menuItem
				a(href="#").profile__menuLink LogOut
