.progressbar__wrp
	.range
		label(for="amount")
		input(type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;")
		#slider-range
		.range__value
			span 0
			span 
			span 50
			span
			span 100
			span
			span 150
	.progressbar
		.progressbar__bar
			span
		p 56% Download