.slider__wrp
	.slider
		.slider__slide
			h3.slider__title Livigno,  bormio and the valtelline valley
			p.slider__subtitle Bormio
			a(href="#").slider__more View more
			img(src="img/video__preview.png", alt="").slider__bgimg
		.slider__slide
			h3.slider__title Livigno,  bormio and the valtelline valley
			p.slider__subtitle Bormio
			a(href="#").slider__more View more
			img(src="img/video__preview.png", alt="").slider__bgimg
		.slider__slide
			h3.slider__title Livigno,  bormio and the valtelline valley
			p.slider__subtitle Bormio
			a(href="#").slider__more View more
			img(src="img/video__preview.png", alt="").slider__bgimg
		.slider__slide
			h3.slider__title Livigno,  bormio and the valtelline valley
			p.slider__subtitle Bormio
			a(href="#").slider__more View more
			img(src="img/video__preview.png", alt="").slider__bgimg