.social__wrp
	.social
		ul.social__list
			li.social__item
				a.social__link(href="#")
					i.fab.fa-facebook-f
			li.social__item
				a.social__link(href="#")
					i.fab.fa-twitter
			li.social__item
				a.social__link(href="#")
					i.fab.fa-google-plus-g