.stat__wrp
	.stat__inner
		.stat
			img(src="img/map.svg", alt="").stat__map
			img(src="img/pin.svg", alt="" title="Smth place on American Map").stat__pin
			img(src="img/pin-2.svg", alt="" title="Smth place on American Map").stat__pin.checked
			img(src="img/pin.svg", alt="" title="Smth place on American Map").stat__pin
			ul.stat__legend
				li.stat__legendItem iOS  44%
				li.stat__legendItem ANdroid  32%
				li.stat__legendItem windows  19%
				li.stat__legendItem symbian  5%
			.stat__chart
				img(src="img/piechart-1.png", alt="" title="iOS  44%").piechart-1
				img(src="img/piechart-2.png", alt="" title="ANdroid  32%").piechart-2
				img(src="img/piechart-3.png", alt="" title="windows  19%").piechart-3
				img(src="img/piechart-4.png", alt="" title="symbian  5%").piechart-4