.bars__statistic
	.row
		.col-md-4
			.bars__wrp.border
				p.bars__value 3244
					.bars
						span.bars__bar(data-height="33")
							span
						span.bars__bar(data-height="53")
							span
						span.bars__bar(data-height="83")
							span
						span.bars__bar(data-height="63")
							span
						span.bars__bar(data-height="10")
							span
						span.bars__bar(data-height="24")
							span
						span.bars__bar(data-height="15")
							span
						span.bars__bar(data-height="98")
							span
								
				p.bars__title Visitors
		.col-md-4
			.bars__wrp.border
				p.bars__value 1236
					.bars
						span.bars__bar(data-height="33")
							span
						span.bars__bar(data-height="53")
							span
						span.bars__bar(data-height="83")
							span
						span.bars__bar(data-height="63")
							span
						span.bars__bar(data-height="10")
							span
						span.bars__bar(data-height="24")
							span
						span.bars__bar(data-height="15")
							span
						span.bars__bar(data-height="98")
							span
								
				p.bars__title Likes
		.col-md-4
			.bars__wrp.border
				p.bars__value 238
					.bars
						span.bars__bar(data-height="33")
							span
						span.bars__bar(data-height="53")
							span
						span.bars__bar(data-height="83")
							span
						span.bars__bar(data-height="63")
							span
						span.bars__bar(data-height="10")
							span
						span.bars__bar(data-height="24")
							span
						span.bars__bar(data-height="15")
							span
						span.bars__bar(data-height="98")
							span
								
				p.bars__title Reposts