.userprofile__wrp
	.userprofile.border
		.userprofile__imgWrp.clearfix
			img(src="img/user__avatar.png", alt="").userprofile__img
		h3.userprofile__title
			.userprofile__name Jerry helfeld
			.userprofile__pos lead designer
		button.userprofile__followBtn Follow

		.userprofile__followWrp.clearfix
			.userprofile__followers
				p.userprofile__followVal 12 564
				p.userprofile__followSpan followers
			.userprofile__following
				p.userprofile__followVal 732
				p.userprofile__followSpan following

