.weather__wrp
	.weather.border
		.clearfix
			.weather__iconWrp
				img(src="img/sun.png", alt="").weather__icon
			.weather__info
				p.weather__day wednesday
				p.weather__temp +25&deg;C
				p.weather__location New York, USA
		.weather__fut.clearfix
			.weather__futDay
				img(src="img/sundark.png", alt="")
				p.weather__futTitle Thu
			.weather__futDay
				img(src="img/sundark.png", alt="")
				p.weather__futTitle Fri
			.weather__futDay
				img(src="img/sundark.png", alt="")
				p.weather__futTitle Sat
			.weather__futDay
				img(src="img/sundark.png", alt="")
				p.weather__futTitle Sun