.musicPlayer {
	padding: 8px;
	width: 460px;
	margin-bottom: 30px;
	@media #{$small} {
		width: 100%;
	}

	&__wrp {

	}
	&__cover {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
		&Wrp {
			margin-right: 12px;
			width: 46px;
			height: 46px;
			float: left;
		}
	}
	&__play {
		display: block;
		margin-top: 5px;
		margin-right: 13px;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		border: 2px solid #fff;
		background-color: transparent;
		float: left;
		transition: $trs;
		@media #{$small} {
			margin-right: 10px;
		}
		&:hover {
			background: $secColor;
			color: $primColor;
		}
	}
	&__title {
		width: 255px;
		font-family: $fontL;

		&Wrp {
			float: left;
			@media #{$small} {
				float: right;
				width: 60%;
			}
		}
	}
	&__name {
		font-size: 11px;
	}
	&__song {
		font-size: 9px;
	}
	&__progressbar {
		margin-top: 10px;
		margin-right: 10px;
		width: 100%;
		max-width: 255px;
		height: 4px;
		border: none !important;
		border-radius: 0;
		background: $secColor;
		.ui-slider-horizontal .ui-slider-range {
			background: #fff !important;
			border-radius: 0;
			border: none !important;
			opacity: 1;
		}
		span {
			display: block;
			width: 3px !important;
			height: 12px !important;
			border: none !important;
			background: #fff !important;
			border-radius: 0 !important;
			margin-left: 0 !important;
		}
	}
	&__mode {
		@media #{$small} {
			margin-top: 10px;
			float: none;
			clear: both;
		}
		button {
			border: none;
			background-color: transparent;
			transition: $trs;
			color: $secColor;
			width: 30px;
			&:hover {
				color: #fff;
			}
		}
	}
	&__repeat {

	}
	&__shuffle {

	}
	&__time {
		display: block;
		margin-top: 7px;
		margin-bottom: -5px;
		@media #{$small} {
			margin-left: 10px;
			display: inline-block;
		}
	}
}